{{! 11-14  3pm build trigger }}
<link href="{{version}}/common.css" rel="stylesheet">
<div class="hb-container-desktop show-for-large-up">
	<div class="row hb-heading hb-hero-bg">
		<div class="large-8 columns">
			<div class="hb-heading-content">
				<h2>WINTER <br>HANDBAG <br>& ACCESSORY <br>TRENDS</h2>
				<p>Keep it chic in these haute finds! </br>
					Here’s what you need now.</p>
			</div><!-- e hb-heading-content -->
		</div><!-- e large-5 columns -->
		<div class="large-4 columns">
			<img style="margin-left: 2px;" src="">
		</div><!-- e large-7 columns -->
	</div><!-- e hb-heading hb-hero-bg -->
	<div class="row" id="hb-sticky-nav-bar">
		<div class="row hb-menu">
			<div class="large-4 columns"><a href="#dazzling">DAZZLING DETAILS</a></div>
			<div class="large-4 columns"><a href="#cozy">KEEP COZY</a></div>
			<div class="large-4 columns"><a href="#party">PARTY-READY</a></div>
		</div>
		<div class="row hb-menu">
			<div class="large-12 columns" style="text-align:center;margin-left:-22px;">
				<a href="#trends">TRENDING WINTER ACCESSORIES</a>
				<span class="hb-spacer"></span>
				<a href="#gifts">MUST-HAVE GIFTS</a>
			</div>
		</div>
	</div>
	<div class="row hb-section-1" id="dazzling">
		<div class="large-7 columns dazzling-handbag-1-container">
			<div class="dazzling-handbag-1-zoom">
				<img class="hb-section-1-img" src="https://assets.macysassets.com/dyn_img/creativepages/winter-dazzling-handbags-1.jpg" alt="winter-dazzling-handbags-1" />
				<div class="hb-section-hover-1a">
					<a id="quickview1" class="qvLauncher" href="javascript:void(0);" data-id="6653479">
						<button class="qv-button">Shop The Look</button>
					</a>
					<a id="quickview1b" class="qvLauncher" href="javascript:void(0);" data-id="6633781">
						<button class="qv-button">Shop The Look</button>
					</a>
					<a id="quickview1c" class="qvLauncher" href="javascript:void(0);" data-id="6633790">
						<button class="qv-button">Shop The Look</button>
					</a>
				</div>
			</div>
		</div>
		<div class="large-5 columns">
			<div class="hb-section-text-1">
				<h3>DAZZLING DETAILS</h3>
				<p>Brighten up any outfit with pieces finished with gleaming metallics & sparkling embellishments.</p>
				<a href="{{ENV_HOSTNAME}}/shop/dazzling-details?id=213775" data-cm="dazzlingdetails_shopnow"><button class="hb-button">shop now</button></a>
			</div>
			<img src="//assets.macysassets.com/dyn_img/creativepages/winter-dazzling-handbags-2.jpg" style="margin-top:2%;" alt="">
			<div class="hb-section-hover-1b">
				<a id="quickview2" class="qvLauncher" href="javascript:void(0);" data-id="6537482">
					<button class="qv-button">Shop The Look</button>
				</a>
				<a id="quickview2a" class="qvLauncher" href="javascript:void(0);" data-id="7105554">
					<button class="qv-button">Shop The Look</button>
				</a>
			</div>
		</div>
	</div>
	<div class="row hb-section-2 " id="cozy">
		<div class="large-12 columns">
			<div class="hb-section-hover-cozy">
				<a id="quickview5a" class="qvLauncher" href="javascript:void(0);" data-id="7110994">
					<button class="qv-button">Shop The Look</button>
				</a>
				<a id="quickview5b" class="qvLauncher" href="javascript:void(0);" data-id="7111385">
					<button class="qv-button">Shop The Look</button>
				</a>
				<a id="quickview5c" class="qvLauncher" href="javascript:void(0);" data-id="7111089">
					<button class="qv-button">Shop The Look</button>
				</a>
				<img class="hb-zoom" src="//assets.macysassets.com/dyn_img/creativepages/winter-hats-handbags-1.jpg" width="1200" alt="" style="z-index:-33;">
			</div>
			<div class="hb-section-text-cozy">
				<h3>KEEP COZY</h3>
				<p>Bundle up in superbly warm hats, scarves &amp; more, featuring stylish chunky knits &amp; faux-fur details.</p>
				<a href="{{ENV_HOSTNAME}}/shop/keep-cozy?id=213776" data-cm="keepcozy_shopnow"><button class="hb-button" style="background-color:white;">shop now</button></a>
			</div>
		</div>
	</div>
	<div class="row hb-section-3" id="party">
		<div class="large-5 columns">
			<div class="hb-section-text-3 ">
				<h3>PARTY-READY</h3>
				<p>Get set for your next soirée with brilliant bags </br>&amp; luxe velvet finishing touches.</p>
				<a href="{{ENV_HOSTNAME}}/shop/party-ready?id=213777" data-cm="partyready_shopnow"><button class="hb-button">shop now</button></a>
			</div>
			<div class="overflow">
				<div class="hb-section-hover-3b hb-section-hover-1b hb-section-hover-6">
					<img class="hb-zoom winter-party-handbags-1" src="//assets.macysassets.com/dyn_img/creativepages/winter-party-handbags-1.jpg" height="450" style="height:450px; width:544px; margin-top:-6.2vw;" alt="">
					<a id="quickview25" class="qvLauncher" href="javascript:void(0);" data-id="6792177">
						<button class="qv-button">Shop The Look</button>
					</a>
					<a id="quickview10" class="qvLauncher" href="javascript:void(0);" data-id="2843659">
						<button class="qv-button">Shop The Look</button>
					</a>
				</div>
			</div>
		</div>
		<div class="large-7 columns">
			<div class="hb-section-hover-1a hb-section-hover-3a overflow">
				<img class="hb-zoom2" src="//assets.macysassets.com/dyn_img/creativepages/winter-party-handbags-2.jpg" alt="">
				<a id="quickview8" class="qvLauncher" href="javascript:void(0);" data-id="6703818">
					<button class="qv-button">Shop The Look</button>
				</a>
				<a id="quickview11" class="qvLauncher" href="javascript:void(0);" data-id="6428033">
					<button class="qv-button">Shop The Look</button>
				</a>
				<a id="quickview12" class="qvLauncher" href="javascript:void(0);" data-id="6882927">
					<button class="qv-button">Shop The Look</button>
				</a>
			</div>
		</div>
	</div>
	<div class="row hb-section-4" id="trends">
		<div class="large-7 columns">
			<div class="hb-section-hover-trends">
				<img src="//assets.macysassets.com/dyn_img/creativepages/winter-trends-handbags-1.jpg" alt="" height="685">
				<a id="quickview8a" class="qvLauncher" href="javascript:void(0);" data-id="7110861">
					<button class="qv-button">Shop The Look</button>
				</a>
			</div>
		</div>
		<div class="large-5 columns hb-trending-warmer">
			<div class="hb-section-text-1 hb-section-text-4 hb-section-trending">
				<h3>TRENDING WINTER ACCESSORIES</h3>
				<p>Brave the cold weather in plush puffer designs & faux-fur finds.</p>
				<a href="{{ENV_HOSTNAME}}/shop/trending-winter-accessories?id=213778" data-cm="trendingwinteraccessories_shopnow"><button class="hb-button">shop now</button></a>
			</div>
			<img src="//assets.macysassets.com/dyn_img/creativepages/winter-trends-handbags-2.jpg" style="margin-top:.3%;">
			<div class="hb-section-hover-1b hb-section-hover-4a">
				<a id="quickview13" class="qvLauncher" href="javascript:void(0);" data-id="6544279">
					<button class="qv-button">Shop The Look</button>
				</a>
				<a id="quickview14" class="qvLauncher" href="javascript:void(0);" data-id="6544272">
					<button class="qv-button">Shop The Look</button>
				</a>
			</div>
		</div>
	</div>
	<div class="row hb-section-5" id="gifts">
		<div class="large-4 columns">
			<div class="hb-section-hover-1b hb-section-hover-5a">
				<img src="//assets.macysassets.com/dyn_img/creativepages/winter-gifts-handbags-1.jpg" alt="">
				<a id="quickview19" class="qvLauncher" href="javascript:void(0);" data-id="6720411">
					<button class="qv-button">Shop The Look</button>
				</a>
			</div>
		</div>
		<div class="large-4 columns">
			<div class="gifts-wrapper hb-section-hover-1b hb-section-hover-5b">
				<img class="hb-section-5-img hb-zoom" src="//assets.macysassets.com/dyn_img/creativepages/winter-gifts-handbags-2.jpg" alt="">
				<a id="quickview20" class="qvLauncher" href="javascript:void(0);" data-id="7655075">
					<button class="qv-button">Shop The Look</button>
				</a>
			</div>
		</div>
		<div class="large-4 columns">
			<div class="hb-section-text-1 hb-section-text-5">
				<div class="must-have-container">
					<h3>MUST-HAVE GIFTS</h3>
					<p>Whatever the occasion, our lineup of </br>must-have accessories fits the bill.</p>
					<a href="{{ENV_HOSTNAME}}/shop/must-have-gifts?id=213780" data-cm="musthavegifts_shopnow"><button class="hb-button">shop now</button></a>
				</div>
			</div>
			<img style="width: 97%;margin-top:-1vw; height:390px;" src="//assets.macysassets.com/dyn_img/creativepages/winter-gifts-handbags-3.jpg" alt="">
			<div class="hb-section-hover-1b hb-section-hover-5c">
				<a id="quickview22" class="qvLauncher" href="javascript:void(0);" data-id="5251236">
					<button class="qv-button">Shop The Look</button>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="hb-container-mobile show-for-medium-down">
	<div class="row">
		<div class="small-12 small-centered columns hb-mobile-header">
			<img src="//assets.macysassets.com/dyn_img/creativepages/whb-hero-mobile.jpg" alt="">
			<div class="hb-overlay">
				<h1 class="hb-headline">
					WINTER HANDBAG & </br>ACCESSORY TRENDS
				</h1>
				<span class="hb-description">
					Keep it chic with these haute finds! </br> Here's what you need to know.
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="row">
			<div class="small-4 columns hb-mobile-menu"><a href="#dazzling-details">DAZZLING DETAILS</a></div>
			<div class="small-4 columns hb-mobile-menu"><a href="#keep-cozy">KEEP COZY</a></div>
			<div class="small-4 columns hb-mobile-menu"><a href="#party-ready">PARTY-READY</a></div>
		</div>
		<div class="row">
			<div class="small-12 columns hb-mobile-menu"><a href="#trending-winter">TRENDING WINTER ACCESSORIES</a></div>
		</div>
		<div class="row">
			<div class="small-12 columns hb-mobile-menu"><a href="#must-have-gifts">MUST-HAVE GIFTS</a></div>
		</div>
	</div>
	<div class="row" id="dazzling-details">
		<div class="slick-test">
			<div class="hb-slide">
				<img src="//assets.macysassets.com/dyn_img/creativepages/whb-dazzling-mobile-1.jpg" style="width: 100%;" alt="" />
			</div>
			<div class="hb-slide">
				<img src="//assets.macysassets.com/dyn_img/creativepages/whb-dazzling-mobile-2.png" width="800" alt="" />
			</div>
		</div>
		<div class="hb-section-text-1">
			<h3>DAZZLING DETAILS</h3>
			<p>Brighten up any outfit with pieces finished with gleaming metallics &amp; sparkling embellishments.</p>
			<a href="{{ENV_HOSTNAME}}/shop/dazzling-details?id=213775" data-cm="dazzlingdetails_shopnow"><button class="hb-button">shop now</button></a>
		</div>
	</div>
	<div class="row" id="keep-cozy">
		<img src="//assets.macysassets.com/dyn_img/creativepages/whb-cozy-mobile-1.jpg" width="800" alt="" />
	</div>
	<div class="hb-section-text-1">
		<h3>KEEP COZY</h3>
		<p>Bundle up in superbly warm hats, scarves & more, featuring stylish chunky knits &amp; faux-fur details.</p>
		<a href="{{ENV_HOSTNAME}}/shop/keep-cozy?id=213776" data-cm="keepcozy_shopnow"><button class="hb-button">shop now</button></a>
	</div>
	<div class="row  show-for-medium-down" id="party-ready">
		<div class="slick-test">
			<div class="hb-slide">
				<img src="//assets.macysassets.com/dyn_img/creativepages/whb-party-mobile-1.jpg" width="800" alt="" />
			</div>
			<div class="hb-slide">
				<img src="//assets.macysassets.com/dyn_img/creativepages/whb-party-mobile-2.png" width="800" alt="" />
			</div>
		</div>
		<div class="hb-section-text-1">
			<h3>PARTY-READY</h3>
			<p>Get set for your next soirée with brilliant bags &amp; luxe velvet finishing touches.</p>
			<a href="{{ENV_HOSTNAME}}/shop/party-ready?id=213777" data-cm="partyready_shopnow"><button class="hb-button">shop now</button></a>
		</div>
	</div>
	<div class="row  show-for-medium-down" id="trending-winter">
		<div class="slick-test">
			<div class="hb-slide">
				<img src="//assets.macysassets.com/dyn_img/creativepages/whb-trend-mobile-1.jpg" width="800" alt="" />
			</div>
			<div class="hb-slide">
				<img src="//assets.macysassets.com/dyn_img/creativepages/whb-trends-mobile-2.png" width="800" alt="" />
			</div>
		</div>
		<div class="hb-section-text-1">
			<h3>TRENDING WINTER ACCESSORIES</h3>
			<p>Brave the cold weather in plush puffer designs & faux-fur finds.</p>
			<a href="{{ENV_HOSTNAME}}/shop/trending-winter-accessories?id=213778" data-cm="trendingwinteraccessories_shopnow"><button class="hb-button">shop now</button></a>
		</div>
	</div>
	<div class="row  show-for-medium-down" id="must-have-gifts">
		<div class="slick-test">
			<div class="hb-slide">
				<img src="//assets.macysassets.com/dyn_img/creativepages/whb-gifts-mobile-1.jpg" width="800" alt="" />
			</div>
			<div class="hb-slide">
				<img src="//assets.macysassets.com/dyn_img/creativepages/whb-gifts-mobile-2.png" width="800" alt="" />
			</div>
			<div class="hb-slide">
				<img src="//assets.macysassets.com/dyn_img/creativepages/whb-gifts-mobile-3.png" width="800" alt="" />
			</div>
		</div>
		<div class="hb-section-text-1 ">
			<h3>MUST-HAVE GIFTS</h3>
			<p class="hb-section-gifts">Whatever the occasion, our lineup of must-have accessories fits the bill.</p>
			<a href="{{ENV_HOSTNAME}}/shop/must-have-gifts?id=213780" data-cm="musthavegifts_shopnow"><button class="hb-button">shop now</button></a>
		</div>
	</div>
</div>
<style>
	.gifts-wrapper {
		overflow: hidden;
		width: 380px;
		height: 100%;
		margin-top: 36%;
		position: relative;
		top: 0;
	}

	.hb-spacer {
		margin-left: 17px;
	}

</style>
{{! Load  JS Last so DOM is already present }}
<script src="{{version}}/js/handbag-trends.manifest.js"></script>
<script src="{{version}}/js/handbag-trends.app.js"></script>
